#------------------------------------------------------------------
# Inputs
#------------------------------------------------------------------

#-Clock signal
Net "clk" LOC=V10 | IOSTANDARD=LVCMOS33;
Net "clk" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;

#-Virtual Inputs
Net "EppAstb"   LOC = H1 | IOSTANDARD = LVCMOS33;
Net "EppDstb"   LOC = K4 | IOSTANDARD = LVCMOS33;
Net "EppWait"   LOC = C2 | IOSTANDARD = LVCMOS33; 
Net "EppDB<0>"  LOC = E1 | IOSTANDARD = LVCMOS33; 
Net "EppDB<1>"  LOC = F4 | IOSTANDARD = LVCMOS33;
Net "EppDB<2>"  LOC = F3 | IOSTANDARD = LVCMOS33;
Net "EppDB<3>"  LOC = D2 | IOSTANDARD = LVCMOS33;
Net "EppDB<4>"  LOC = D1 | IOSTANDARD = LVCMOS33;
Net "EppDB<5>"  LOC = H7 | IOSTANDARD = LVCMOS33;
Net "EppDB<6>"  LOC = G6 | IOSTANDARD = LVCMOS33;
Net "EppDB<7>"  LOC = E4 | IOSTANDARD = LVCMOS33;	
Net "EppWr"     LOC = H2 | IOSTANDARD = LVCMOS33;

#------------------------------------------------------------------
#Outputs
#------------------------------------------------------------------

#-LEDs
Net "RedLed" LOC = C7  | IOSTANDARD=LVCMOS33;

#-Seven Segment Displays (SSDs)

#--Nexys3 Board Seven segment display

#---SSD Display Digit Selection
Net "SSEG_AN<0>" LOC=N16 | IOSTANDARD=LVCMOS33;
Net "SSEG_AN<1>" LOC=N15 | IOSTANDARD=LVCMOS33;
Net "SSEG_AN<2>" LOC=P18 | IOSTANDARD=LVCMOS33;
Net "SSEG_AN_OFF" LOC=P17 | IOSTANDARD=LVCMOS33;

#---SSD Display Segment Selection
Net "SSEG_CA<0>" LOC=T17 | IOSTANDARD=LVCMOS33; #A
Net "SSEG_CA<1>" LOC=T18 | IOSTANDARD=LVCMOS33; #B
Net "SSEG_CA<2>" LOC=U17 | IOSTANDARD=LVCMOS33; #C
Net "SSEG_CA<3>" LOC=U18 | IOSTANDARD=LVCMOS33; #D
Net "SSEG_CA<4>" LOC=M14 | IOSTANDARD=LVCMOS33; #E
Net "SSEG_CA<5>" LOC=N14 | IOSTANDARD=LVCMOS33; #F
Net "SSEG_CA<6>" LOC=L14 | IOSTANDARD=LVCMOS33; #G
#Leave the decimal point disabled.
#Net "SSEG_CA<7>" LOC=M13 | IOSTANDARD=LVCMOS33; #DP